[Unit]
Description=Runs Ollama service and OpenWeb UI as frontend managed by podman compose
After=network.target

[Service]
Type=forking
TimeoutStartSec=600
TimeoutStopSec=60
WorkingDirectory=/srv/ai-runner
ExecStart=/usr/bin/podman kube play /srv/ai-runner/ollama-openwebui-kube.yml
ExecStop=/usr/bin/podman kube down /srv/ai-runner/ollama-openwebui-kube.yml
Restart=always

[Install]
WantedBy=multi-user.target
