window {
    /* border: 2px solid red; */
    padding: 50px;
}

#input {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 15px;
}

#input:focus,
#input:selected,
#entry:selected,
#entry:focus {
    border-color: transparent;
}

#inner-box {
    margin: 20px;
}

#img {
    margin: 10px 10px;
}

#entry {
    border-radius: 20px;
}

#text:selected,
#img:selected {
    background-color: transparent;
}
