---
- name: Make sure ssh is allowed
  become: true
  become_user: root
  ansible.posix.firewalld:
    service: ssh
    permanent: true
    state: enabled
    immediate: true

- name: Start and enable firewalld
  become: true
  become_user: root
  service:
    name: firewalld
    state: started
    enabled: true
