---
- name: Play the dotfiles role on specified hosts under username
  hosts: localhost
  become: true
  # TODO: make this dynamic
  become_user: nikromen

  vars_files:
    - group_vars/all

  roles:
    - role: dotfiles
